header {
  display: block;
  margin-top: 1.2rem;
}

#links-header {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1em;
  font-size: 1.2em;
  justify-content: space-between;
  margin: 0 0.2em 1.3em 0.2em;

  span {
    margin-top: 0.5em;
  }

  img {
    height: 1em;
    margin: 0 0.3em 0 0;
    vertical-align: sub;
  }
}

@media (max-width: 700px) {
  #links-header > * {
    width: calc(33.33% - 0.67em); /* 33.33% width with some gap */
  }

  #links-header > *:nth-child(3n-1) {
    text-align: center;
  }

  #links-header > *:nth-child(3n) {
    text-align: right;
  }
}
