@use "./variables.scss" as *;
@use "./base.scss";

.content-meta {
  font-size: 0.9em;
}

.article-title {
  margin-top: 0.7em;
  margin-bottom: 0.25em;
}

.breadcrumb-container {
  font-size: 0.8em;
}

.breadcrumb-container a {
  color: var(--darkgray);
  text-decoration: underline;
}

.page {
  & article {
    & > h1, h2, h3, h4, h5, h6 {
      border-bottom: 2px solid var(--gray);
      padding-bottom: 0.3em;
    }

    & > h1 {
      font-size: 1.2rem;
    }

    & > h2 {
      font-size: 1.1rem;
    }

    & > h3, h4, h5, h6 {
      font-size: 1rem;
    }
  }

  & .page-header {
    @media all and (max-width: $fullPageWidth) {
      margin-top: 1rem;
    }
  }
}

h1 {
  margin-top: 1.7rem;
  margin-bottom: 1.3rem;
}

hr {
  background-color: var(--gray);
}

.page-title {
  font-size: 1.4rem;
}

.page-title a {
  color: var(--dark);
}
