$pageWidth: 750px;
$mobileBreakpoint: 600px;
$tabletBreakpoint: 1200px;
$sidePanelWidth: 380px;
$topSpacing: 6rem; // this was 3rem before the merge; try it
$fullPageWidth: $pageWidth + 2 * $sidePanelWidth;
